@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto+Condensed:ital@0;1&display=swap');

*{
    padding: 0;margin: 0;
    outline: none;border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: #035d52;
}

::-webkit-scrollbar-track{
    background-color: #fff;
}

.headgin{
    text-align: center;
    color: #2a9d8f;
    font-size: 2.4rem;
    margin: 1rem 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background-color: #eee;
    position: fixed;
    top: 0;right: 0;left: 0;
    z-index: 100;
}

.header a{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2a9d8f;
}

.header span{
    color: #047dff;
}

.header .navber a{
    font-size: 1.2rem;
    font-weight: 500;
    color: #023047;
    margin-left: 1rem;
}

.header .navber a:hover{
    color: #047dff;
}

.header .navber a:nth-child(4){
    background: #fff;
    padding: .3rem 1rem;
    border-radius: 5px;
}

#menu{
    background-color: #fff;
    cursor: pointer;
    padding: 0.4rem .5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    display: none;
}

#menu:hover{
    background-color: #000;
    color: #fff;
    transition: all .5s linear ;
}

.home {
    width: 100%;
    max-width: 1200px;
    margin:3rem auto;
}

.container{
    display: flex;
}

.home .image{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 80vh;
}

.home .image img{
    height: 35rem;
}

.container .desc{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.container .desc h1{
    color: #2a9d8f;
    font-size: 2rem;
    margin: 1rem 0;
    letter-spacing: .1rem;
}

.container .desc p{
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 1rem;
    width: 80%;
    line-height: 1.2;
}

.container .desc .btn{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    background-color: #2a9d8f;
    cursor: pointer;
}

.container .desc .btn:hover{
    background-color: #035d52;
}

.section-food{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #eee;
    border-radius: 3px;
    padding: 2rem 0;
    width: 100%;
}

.container-food{
    display: grid;
    grid-template-columns: repeat(auto-fit , 350px) ;
    gap: 1rem;
    justify-content: center;
}

.container-food .box{
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}

.box .image-food img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    height: 13rem;
}

.box .image-food img:hover{
    transform: scale(.9);
    transition: all 0.4 ease-in-out;
}

.box .desc-food h2{
    font-size: 1rem;
    margin: 1rem 0;
    text-align: center;
    color: #765432;
}

.box .btn-Details {
    width: 200px;
    height: 30px;
    margin-bottom: .3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.1rem;
    cursor: pointer;
    color: #fff;
    background-color: #0081a7;
    border-radius: 5px;
}

.box .btn-Details:hover{
    background-color: #003f52;
}

.review .container-review{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.review .container-review .box-review{
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 30rem;
    border-radius: 5px;
}

.review .container-review .box-review.active{
    display: inline-block;
}


.review .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}

.review .fa-times:hover{
    transform: rotate(90deg);
}

.review .image-review img{
    width: 100%;
    margin: 1rem 0;
    border-radius: 3px;
}

.review .stars{
    margin: 1rem 0;
}

.review .stars i{
    color: yellow;
}

.review .stars span{
    font-size: .8rem;
    color: #023047;
    font-weight: 600;
}


.review .sec-review h2{
    font-size: 1.1rem;
    color: #0b655b;
    margin-bottom: 1rem;
}

.review .price h5{
    font-size: 1.4rem;
    color: #023047;
    margin-bottom: 1rem;
}

.review .container-review .details-review .cart{
    width: 49%;
    height: 30px;
    border-radius: 4px;
    background-color: #2a9d8f;
    color: #fff;
    font-size:1.1rem;
    cursor: pointer;
}

.review .container-review .details-review .cart:hover{
    background-color: #0b655b;
}

.review .container-review .details-review .buy{
    width: 49%;
    height: 30px;
    border-radius: 4px;
    background-color: #fff;
    color: #2a9d8f;
    border: 1px solid #2a9d8f;
    font-size:1.1rem;
    cursor: pointer;
}

.review .container-review .details-review .buy:hover{
    background-color: #0b655b;
    color: #fff;
}



.other-food{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: 2rem 0;
}

.other-food h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #2a9d8f;
}

.container-other-food{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 2rem;
    justify-content: center;
}

.container-other-food .box-other-food{
    border: 1px solid lightgray;
    border-radius: 5px 5px;
    width: 100%;
}

.container-other-food .box-other-food img{
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.container-other-food .box-other-food h2{
    text-transform: capitalize;
    margin-top: .5rem;
    text-align: center;
    color: #2a9d8f;
}

.container-other-food .box-other-food p{
    text-align: start;
    padding: .5rem;
}

.container-other-food .box-other-food h5{
    text-align: center;
    font-size: 16px;
}

.container-other-food .box-other-food button{
    width: 200px;
    height: 30px;
    margin-top: .5rem;
    margin-bottom:.4rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #0081a7;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.container-other-food .box-other-food button:hover{
    background-color: #047dff;
}

.about {
    width: 100%;
    max-width: 1200px;
    margin:3rem auto;
    background-color: #eee;
    border-radius: 4px;
}

.container{
    display: flex;
}

.about .image{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 80vh;
}

.about .image img{
    height: 35rem;
}

.about .container .desc{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    align-items: center;
}
 
.about .container .desc h1{
    color: #2a9d8f;
    font-size: 2rem;
    margin: 1rem 0;
    letter-spacing: .1rem;
}

.about .container .desc p{
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 1rem;
    width: 80%;
    line-height: 1.2;
}

.about .container .desc .btn{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    background-color: #2a9d8f;
    cursor: pointer;
}
 
.about .container .desc .btn:hover{
    background-color: #035d52;
}

.contact{
    width: 100%;
    max-width: 1200px;
    margin:3rem auto;
}

.box-contact{
    display: flex;
}

.box-contact .image{
    flex: 1;
}

.box-contact .image img{
    height: 35rem;
}

.box-contact .form{
    flex: 1;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

.box-contact .form .box-form{
    border: 1px solid lightgray;
    width: 350px;
    padding: 1rem;
    border-radius: 5px;
    background-color: #eee;
}

.box-contact .form .box-form p{
    margin-bottom: .5rem;
}

.box-contact .form .box-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: 5px;
    font-size: 1rem;
}

.box-contact .form .box-form .text{
    resize: none;
    width: 100%;
    padding: .6rem;
    font-size: 1rem;
    height: 100px;
}

.box-contact .form .box-form .send{
    background-color: #0b655b;
    margin-top: 1rem;
    height: 30px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.email{
    background-color: #eee;
    padding: 4rem;
    margin: 1rem 0;
}

.email h1{
    margin-bottom: 1rem;
    text-align: center;
    color: #0b655b;
    font-size: 3rem;
}

.email form{
    text-align: center;
}

.email .send-email{
    width: calc(100% - 1000px);
    height: 40px;
    padding: 0 .5rem;
    border-radius: 5px 0 0px 5px;
    font-size: 1rem;
}

.email .submit{
    height: 41px;
    width: 120px;
    background: #2a9d8f;
    margin-left: -1rem;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    letter-spacing: .1rem;
}

.email .submit:hover{
    background: #0b655b;
}

.fooder{
    padding: 2rem;
}

.container-fooder{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-fooder h1{
    color: #047dff;
}

.box-fooder a{
    display: block;
    text-align: center;
    color: #023047;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

.box-fooder a:hover{
    font-weight: 600;
    color: #056b9d;
}

.copyright{
    text-align: center;
    background-color: #eee;
    padding: 1rem;
    color: #444;
}

.copyright span{
    color: #047dff;
}

@media (max-width: 768px) {
    .header{
        padding: .8rem 5%;
    }

    #menu{
        display: inline-block;
    }

    .header .navber {
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navber.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all 0.3s linear;
    }

    .header .navber > a,
    .header .navber > a:nth-of-type(4){
        display: block;
        text-align: center;
        margin: 1rem .5rem;
        background: #0b655b;
        color: #fff;
        border-radius: .5rem;
        padding: .5rem;
        font-size: 1rem;
        font-weight: 400;
    }

    .header .navber > a:hover,
    .header .navber > a:nth-of-type(4):hover{
        background: #2a9d8f;
        color: #fff;
    }

    .home {
        margin:1rem auto;
    }

    .container{
        display: block;
    }

    .container .desc h1{
        text-align: center;
    }

    .container .desc p{
        text-align: center;
        width: 100%;
    }

    .container .desc .btn{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 auto;
    }

    .container .image{
        flex: 2;
    }

      .container .image img{
        height: 20rem;
        display: flex;
        margin: auto;
      }

    .container{
        display: block;
    }

    .box-contact{
        display: block;
    }

    .box-contact .image img{
        height: 20rem;
    }

  
    .email{
        padding:2rem 1rem;
    }
    .email h1{
        font-size: 1.2rem;
    }

    .email .send-email{
        width: calc(100% - 150px);
        height: 40px;
        padding: 0 .5rem;
        border-radius: 5px 0 0px 5px;
        font-size: .8rem;
    }

    .copyright h3{
        font-size: .8rem;
    }
}